/* external_registration.css */

/* Reset */
body, h1, h2, h3, p, input, select, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('https://i.pinimg.com/originals/cd/75/1e/cd751e048f602c4141b3936f56759e2b.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.header img {
    border-radius: 50%;
}

.section-box {
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #ff0000;
    background-color: #f4cb99; /* Changed background color */
}

.form-group {
    margin-bottom: 20px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ff0000;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.radio-group {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.radio-group label {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
}

.radio-group label::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #000000;
    border-radius: 50%;
    margin-right: 5px;
}

.radio-group input[type="radio"] {
    display: none;
}

.radio-group input[type="radio"]:checked + label::before {
    background-color: #ff0000;
}

.upload-resume,
.additional-message {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.upload-resume {
    margin-bottom: 10px;
}

.upload-resume input[type="file"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ff0000;
    border-radius: 10px;
    box-sizing: border-box;
}

.button-group {
    display: flex;
    gap: 10px;
}

button[type="submit"] {
    flex-grow: 1;
    padding: 10px;
    background-color: #ff6f00;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; /* Added transition */
}

button[type="submit"]:hover {
    background-color: #ff0000;
}
